<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.masterdata.mapper.RoleMapper">

    <select id="selectRolePage" resultType="com.agri.masterdata.vo.RoleVO">
        SELECT r.*
        FROM agri_md_role r
        WHERE r.del_flag = 0
        <if test="dto.roleName != null and dto.roleName != ''">
            AND r.role_name LIKE CONCAT('%', #{dto.roleName}, '%')
        </if>
        <if test="dto.roleKey != null and dto.roleKey != ''">
            AND r.role_key LIKE CONCAT('%', #{dto.roleKey}, '%')
        </if>
        <if test="dto.status != null">
            AND r.status = #{dto.status}
        </if>
        ORDER BY r.role_sort ASC
        LIMIT #{dto.pageNum}, #{dto.pageSize}
    </select>

    <select id="selectRoleCount" resultType="long">
        SELECT COUNT(*)
        FROM agri_md_role r
        WHERE r.del_flag = 0
        <if test="dto.roleName != null and dto.roleName != ''">
            AND r.role_name LIKE CONCAT('%', #{dto.roleName}, '%')
        </if>
        <if test="dto.roleKey != null and dto.roleKey != ''">
            AND r.role_key LIKE CONCAT('%', #{dto.roleKey}, '%')
        </if>
        <if test="dto.status != null">
            AND r.status = #{dto.status}
        </if>
    </select>

    <select id="selectRoleById" resultType="com.agri.masterdata.vo.RoleVO">
        SELECT r.*
        FROM agri_md_role r
        WHERE r.id = #{id} AND r.del_flag = 0
    </select>

    <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id FROM agri_md_role_menu WHERE role_id = #{roleId}
    </select>

    <delete id="deleteRoleMenus">
        DELETE FROM agri_md_role_menu WHERE role_id = #{roleId}
    </delete>

    <insert id="insertRoleMenu">
        INSERT INTO agri_md_role_menu (role_id, menu_id)
        VALUES (#{roleId}, #{menuId})
    </insert>

    <select id="selectByRoleCode" resultType="com.agri.masterdata.entity.Role">
        SELECT * FROM agri_md_role WHERE role_code = #{roleCode} AND del_flag = 0
    </select>
</mapper>
